
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.choose{
    background-color: #fdfae5;
    width: 100%;
    padding:70px 0px ;
}
.choose-container{
    background-color:#fdfae5;
    overflow: auto;
    width: 80%;
    margin: auto;
    text-align: center;
}
.abut-para{
    height: 400px;
    position: relative;
    width: 60%;
    float: left;
    background-color: #fdfae5;
    text-align: left;
}
.abut-img{
    height: 400px;
    position: relative;
    width: 40%;
    float: left;
}
.ul-imag li{
    width:10px;
    height:10px;
    display: inline-block;
    background-color: #a5a39d;
    margin: 10px 5px;
    border-radius: 50%;

}
.choos-imag{
    height: 90%;
}
.choos-imag img{
    height: 100%;
    width: 100%;
}
.ul-imag{
    height: 10%;
    background-color:  #fdfae5;
    list-style: none;
    text-align: center;
}
.ul-imag li:hover{
background-color: #8eb6f1;
}
.abut-detalis{
    padding: 25px;
    text-align: left;
}
.about-title h2{
    margin: 20px 0px 5px 20px;
    text-align: left;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.about-title span{
    display: block;
    margin-left: 20px;
    margin-top:-7px;
    width: 70px;
    line-height: 20px;
    border-top: solid 3px blue;
    border-radius: 2px;
}
.abut_choises{
    list-style-type: none;
}